html {
    font-family: 'Lato', sans-serif;
}

.collapsible {
    background-color: rgb(255, 255, 255);
    color: rgb(37, 37, 37);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
}

.active, .collapsible:hover {
    background-color: #eba04b;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
