html {
    font-family: 'Lato', sans-serif;
}

.rule {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
}

.rule-header {
    background-color: #e9a85f;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: larger;
    margin: 0px;
}

.rule-content {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 0px;
    width: 100%;
}
